.sure_raise{
  width:100%;
  height:100%;
  background: #F4F4F4;
  .address{
    margin-top:0.88rem;
    padding:0.4rem 0.3rem;
    background: #fff;
    .items_top{
      display: flex;
      justify-content: space-between;
      font-size: 0.24rem;
      color:#999999;
      #add{
        line-height: 0.84rem;
        text-align: center;
        font-size: .48rem;
        margin:0 0.06rem
      }
      .user_info{
        flex-grow: 1;
        padding:0 0.3rem 0 0.4rem;
        box-sizing: border-box;
        .user_info_top{
          display: flex;
          justify-content: space-between;
          .phone{
            color:#999999;
          }
        }
        .user_info_address{
          width:100%;
          letter-spacing: 2px;
          line-height: 0.4rem;
          margin-top: 0.12rem;
          color:#999999;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
      #go{
        //width:0.3rem;
        font-size: 0.6rem;
        line-height: 0.84rem;
        text-align: left;
      }
    }
  }
}
