.background{
  width:100%;
  height:100%;
  background:#F4F4F4;
  padding-top:0.88rem;
  .items_top{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding:0.64rem 0.3rem 0.4rem;
    .goods_pic{
      width:2.06rem;
      height:1.32rem;
      img{
        width:100%;
        height:100%;
      }
    }
    .title{
      flex-grow: 1;
      font-size: 0.28rem;
      color:#2D2D2D;
      margin-left: 0.28rem;
      .goods_name{
        margin-top: 0.16rem;
      }
      .goods_store{
        font-size:0.24rem;
        color:#999;
        margin-top: 0.3rem;
      }
    }
  }
  .choose{
    width:100%;
    height:auto;
    background: #fff;
    padding:0 0.3rem 0.4rem;
    display: flex;
    margin-bottom: 0.2rem;
    button{
      display: block;
      width:1.02rem;
      height:0.52rem;
      border:1px solid #6E5239;
      font-size: 0.28rem;
      text-align: center;
      line-height: 0.52rem;
      color:#6E5239;
      background: #fff;
      border-radius: 0.04rem;
      margin-right: 0.7rem;
    }
    .active{
      background: #6E5239;
      color:#fff;
    }
  }
  .contain{
    background: #fff;
    margin-bottom: 0.2rem;
    .suggestion{
      position: relative;
      textarea{
        width: 100%;
        height:3.12rem;
        border:none;
        border-radius: 4px;
        padding: 4%;
        font-size: 16px;
        resize: none;
        box-shadow: none;
        -webkit-appearance: none;
      }
      .left-word{
        position: absolute;
        right: 0.3rem;
        bottom: 0.4rem;
        color: #acacac;
        font-size: 14px;
      }

    }
    .line{
      width:7.2rem;
      height:0.06rem;
      background: #EDEDED;
      margin-left: 0.3rem;
    }
    .upload{
      width:100%;
      height:1.88rem;
      padding:0.2rem 0.3rem;
      display: flex;
      .list{
        width:1.44rem;
        height:1.44rem;
        background-color: #F4F4F4;
        text-align: center;
        line-height: 1.44rem;
        font-size: 0.6rem;
        color:#D8D8D8;
        margin-right: 0.4rem;
      }
    }
  }

  .button{
    width:100%;
    height:1.2rem;
    background: #2D2D2D;
    font-size: 0.34rem;
    color:#fff;
    text-align: center;
    line-height: 1.2rem;
    position: fixed;
    left:0;
    bottom: 0;
  }
}
