.background{
  width:100%;
  height:100%;
  background: #F6F6F6;
  padding-top:0.88rem;
  .new_box{
    width:100%;
    height:auto;
    ul{
      .item{
        width:100%;
        height:auto;
        border-bottom: 1px solid #F6F6F6;
        padding:0.36rem 0.3rem;
        .top{
          display: flex;
          justify-content: space-between;
          .title{
            font-size: 0.24rem;
            color:#2D2D2D;
          }
          .time{
            font-size: 0.24rem;
            color:#999;
          }
        }
        .content{
          font-size: 0.24rem;
          color:#999999;
          letter-spacing:1px;
          line-height: 0.4rem;
          margin-top: 0.12rem;
        }
      }
    }
  }
}